<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.example.demo.s1.dbtestMapper">
    
    <!-- 여기에 쿼리문 넣어서 나중에 가져가면 됨 -->
    <select id="getList" resultType="dbtestVO">
        SELECT * FROM EMPLOYEE
    </select>
</mapper>