<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.example.demo.notice.NoticeMapper">
    
    <select id="getList" resultType="NoticeVO">
        SELECT * FROM NOTICE
        WHERE NUM > 0
        ORDER BY NUM ASC LIMIT #{startRow}, #{perPage}    
    </select>
     <select id="getTotalCount" resultType="Long">
        SELECT COUNT(NUM) FROM NOTICE         
    </select>
    <insert id="setAdd" parameterType="NoticeVO" useGeneratedKeys="true" keyProperty="num"> <!--useGeneratedKeys="true" keyProperty="num" :1씩 값이 올라가게끔 자동생성시켜주는 것  -->
        INSERT INTO NOTICE (NUM,TITLE,CONTENT,REGDATE,HIT) 
        VALUES (#{num},#{title},#{content},now(),0) <!-- now는 현재시간, 0은 현재 조회수 -->
    </insert>
    <select id="getDetail" parameterType="NoticeVO"  resultMap="noticeDetailResult" >   <!-- 26라인(id가 같은 곳)으로 가라! -->
    	SELECT * FROM NOTICE A
		LEFT JOIN NOTICEFILE B
		ON A.NUM = B.NOTICENUM WHERE NUM= #{num}
    </select>
    <resultMap type="noticeVO" id="noticeDetailResult">  <!-- 파일이 섞여있음을 알려준다. -->
            <id column="num" property="num"/>  <!-- primary 키는 아이디로, 나머지는 result로! -->
            <result column="title" property="title"/>
            <result column="content" property="content"/>
            <result column="regDate" property="regDate"/>
            <result column="hit" property="hit" />
            <association property="noticeFilesVO" javaType="NoticeFilesVO"> <!-- association=1:1일때 사용 collection  1:n일때 (사진 여러장 들고올 때) -->
                <id column="fileNum" property="fileNum"/>
                <result column="fileName" property="fileName"/>
                <result column="oriName" property="oriName" />
            </association>
        </resultMap>
    <select id="getUpdate" parameterType="NoticeVO" resultMap="noticeUpdateResult">
    	SELECT * FROM NOTICE A
		LEFT JOIN NOTICEFILE B
		ON A.NUM = B.NOTICENUM WHERE NUM= #{num}
    </select>
    <resultMap type="noticeVO" id="noticeUpdateResult">  <!-- 파일이 섞여있음을 알려준다. id 중복안되게 해줘야 한다. -->
            <id column="num" property="num"/>  <!-- primary 키는 아이디로, 나머지는 result로! -->
            <result column="title" property="title"/>
            <result column="content" property="content"/>
            <result column="regDate" property="regDate"/>
            <result column="hit" property="hit" />
            <association property="noticeFilesVO" javaType="NoticeFilesVO"> <!-- association=1:1일때 사용 collection  1:n일때 (사진 여러장 들고올 때) -->
                <id column="fileNum" property="fileNum"/>
                <result column="fileName" property="fileName"/>
                <result column="oriName" property="oriName" />
            </association>
        </resultMap>
    <update id="setUpdate" parameterType="NoticeVO"> 
        UPDATE NOTICE SET TITLE=#{title}, CONTENT=#{content} WHERE NUM= #{num} 
    </update>
    <delete id="getDelete" parameterType="NoticeVO">
    	DELETE FROM NOTICE WHERE NUM= #{num}
    </delete>
    <select id="getGtl" parameterType="NoticeVO" resultType="integer">
    	SELECT a.rownum 
		FROM (
		SELECT ROW_NUMBER() OVER(ORDER BY NUM ASC) AS ROWNUM, NUM 
		FROM NOTICE
		) a WHERE NUM= #{num};
    </select>
    
    <insert id = "setFileAdd" parameterType="NoticeFilesVO">
    	INSERT INTO NOTICEFILE (FILENUM, NOTICENUM, FILENAME, ORINAME)
    	VALUES(NULL, #{noticeNum}, #{fileName}, #{oriName}) <!-- auto increment 넣어놔서 null값 해놓으면 알아서 올라감 -->
    
    </insert>
    
</mapper>